:root {
  --colorFont: #26526b;
}

.navbar .navbar-toggler {
  font-size: 1rem !important;
  z-index: 9999999;
}
.navbar .navbar-brand img {
  width: 170px;
  height: 70px;
}
.navbar #navbar-items {
  position: absolute;
  top: 100px;
  background: #2e2c2c;
  left: 0;
  padding: 15px 10%;
  z-index: 999;
}
.navbar #navbar-items .nav-item {
  padding: 0 5px;
  box-sizing: content-box;
  position: relative;
}
.navbar #navbar-items .nav-item a {
  color: white !important;
  font-family: "Sofia Sans", sans-serif;
  font-size: 14px;
}
.navbar #navbar-items .nav-item a:hover {
  color: var(--colorFont) !important;
  transition: 0.5s ease;
  font-size: 15px;
}
.navbar #navbar-items .nav-item:before {
  content: "";
  background: white;
  position: absolute;
  width: 2px;
  left: 0;
  height: 50px;
}
.navbar #navbar-items .nav-item:before:hover {
  background: var(--colorFont) !important;
}
.navbar #navbar-right {
  display: flex;
  justify-content: space-around;
  width: 30rem;
}
.navbar #navbar-right .nav-item {
  position: relative;
}
.navbar #navbar-right .nav-item a {
  color: var(--colorFont) !important;
  font-family: "Sofia Sans", sans-serif;
  font-size: 17px;
  font-weight: 600;
}
.navbar #navbar-right .nav-item:before {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  width: 0;
  left: 10px;
  height: 2px;
  transition: 0.1s;
}
.navbar #navbar-right .nav-item:hover:before {
  content: "";
  background: black;
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 10px;
  height: 2px;
  transition: 2s;
}

.ImageDiv {
  margin-top: 5.7rem;
}
.ImageDiv .carousel .carousel-item {
  height: 580px;
}
.ImageDiv .carousel .carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

section {
  background: #eeeeee;
  border-radius: 10px;
  width: 100%;
  margin: 70px 0;
  padding: 50px 70px;
  font-family: "Lexend Deca", sans-serif;
}
section h1 {
  margin-bottom: 12px;
}
section .description {
  line-height: 30px;
  font-size: 17px;
  padding: 15px;
}

#footer-wrapper {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #888888;
  word-wrap: break-word;
  padding: 0;
  border: 0;
  outline: 0;
  background: #20222d;
  margin: 0;
  padding: 70px 100px;
  font-style: normal;
}
#footer-wrapper .title {
  color: white;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 500;
}
#footer-wrapper #contact-right .form input, #footer-wrapper #contact-right .form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.01);
  font-size: 14px;
  color: #fff;
  line-height: 34px;
  box-sizing: border-box;
  padding: 0 10px;
  margin: 0 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 3px;
}
#footer-wrapper #contact-right .form textarea {
  height: 120px;
  min-height: 50px;
  max-height: 150px;
}
#footer-wrapper #contact-right .form #form-submit {
  background: #003ee6;
}

@media (max-width: 768px) {
  .container {
    padding: 5px 10px;
  }
  html {
    font-size: 16px;
  }
  .navbar-brand img {
    width: 120px !important;
    height: 60px !important;
  }
  .navbar .navbar-collapse {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
  }
  .navbar #navbar-items {
    width: 100%;
  }
  .navbar #navbar-items .nav-item {
    padding: 5px;
  }
  .navbar #navbar-items .nav-item:before {
    content: "";
    background: white;
    position: absolute;
    width: 2px;
    left: 0;
    height: 10px;
  }
  .navbar #navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: white;
    box-shadow: 1px 1px 1px gray;
    width: 100%;
    height: 50px;
    position: relative;
    top: 50px;
  }
  .navbar #navbar-right .nav-item {
    color: #047bc1;
  }
  .navbar #navbar-right .nav-item a {
    font-family: "Sofia Sans", sans-serif;
    font-size: 17px;
  }
  .ImageDiv {
    margin-top: 0;
  }
  .ImageDiv .carousel .carousel-item {
    height: 380px;
  }
  .ImageDiv .carousel .carousel-item img {
    height: 100%;
  }
  section {
    margin: 20px 0;
    padding: 20px;
  }
  #footer-wrapper {
    padding: 20px 10px;
  }
  #footer-wrapper #contact-right {
    margin-top: 15px;
  }
}
